<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />

  <title>Biology</title>

  <link rel="stylesheet" href="../../../assets/stackstyles/header.css" />
  <link rel="stylesheet" href="../../../assets/stackstyles/sections.css" />
  <link rel="stylesheet" href="../test.css" />

  <script defer src="./test1.js"></script>
</head>

<body>
  <header class="center column">
    <div class="biology__title">
      <p class="center">ЭЛЕКТРОННОЕ СРЕДСТВО ОБУЧЕНИЯ БИОЛОГИИ</p>
      <p class="center">ПО ТЕМЕ <br>ХИМИЧЕСКИЕ КОМПОНЕНТЫ ЖИВЫХ ОРГАНИЗМОВ</p>
    </div>

    <div class="biology__poster">
      <a href="../../../Index.html">
        <img src="../../../assets/img/Biology_header.png" alt="Biology" />
      </a>
    </div>

    <nav class="biology__nav center column">
      <p class="nav__section">РАЗДЕЛЫ</p>

      <div class="nav__line"></div>

      <img src="../../../assets/img/navbar.png" alt="navbar" />

      <ul class="center row">
        <li class="nav__butt">
          <a href="../../theory/theory.html">
            <p>Теоретический</p>
          </a>
        </li>
        <li class="nav__butt active">
          <a href="../../test/test.html">
            <p>Контроль знаний</p>
          </a>
        </li>
        <li class="nav__butt">
          <a href="../../practice/practice.html">
            <p>Практический</p>
          </a>
        </li>
        <li class="nav__butt">
          <a href="../../../other/other.html">
            <p>Вспомогательный</p>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="biology__content center column">
    <div>
      <div class="content__line"></div>
      <h1>ТЕСТ ПО ТЕМЕ</h1>
      <p>Содержание химических элементов в организме. Макро- и микроэлементы</p>
      <div class="content__line"></div>
    </div>

    <article class="content__theme left column">
      <ul id="test">
        <!-- <li class="left column">
          <p class="theme__ask">1. Содержание химических элементов в организме. Макро- и микроэлементы. </p>
          <div class="theme__answer left column">
            <label class="answer__check left">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
              Это решетка
            </label>

            <label class="answer__check left">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
              Это биология
            </label>

            <label class="answer__check left">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
              Это животное, такое же как и мы
            </label>

            <label class="answer__check left  ">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
              Честно не знаю что это такое
            </label>
          </div>

        </li> -->
      </ul>
      <input class="test__button" type="button" onClick="checktest()" value="ЗАВЕРШИТЬ ТЕСТ" />
    </article>
  </section>


  <footer>
    <div class="footer__line"></div>
    <div class="footer__authors center column">
      <p>Верстка и дизайн:Шило Данил, Кручок Глеб</p>
      <p>Наполнение контента: Цыбулёнок Илья, Заев Кирилл, Шиманская Дарья, Рыбаков Дмитрий, Кулик Полина</p>
    </div>
  </footer>
</body>

</html>