.theory__title {
	align-self: center;
}
/* стили для текста */
.paragraph__video-text{
	color: black; 
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 20px;
}
/* блок видео и текста */
.video__theme {
	display: flex;
	flex-direction: row nowrap;
	padding: 0 100px 10px;
	text-decoration: none;
}
/*блок видео */
.video__theme-left {   
	padding: 5px; 
	background-color: #BFDDB0;
	border: 6px solid #73D451;  /*обводка блока видео*/
	border-radius: 50px;
	z-index: 100;
}
/* конкретно сам видос */
.video__left {
	border-radius: 50px;
}
/* текст рядом с видео */
.video__text {
	display: flex;
	align-items: center;
	justify-content: center;
}