<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Biology</title>
  <link rel="stylesheet" href="../../assets/stackstyles/header.css" />
  <link rel="stylesheet" href="../../assets/stackstyles/sections.css" />
  <link rel="stylesheet" href="theory.css">
</head>

<body>
  <header class="center column">
    <div class="biology__title">
      <p class="center">ЭЛЕКТРОННОЕ СРЕДСТВО ОБУЧЕНИЯ БИОЛОГИИ</p>
      <p class="center">ПО ТЕМЕ <br>ХИМИЧЕСКИЕ КОМПОНЕНТЫ ЖИВЫХ ОРГАНИЗМОВ</p>
    </div>

    <div class="biology__poster">
      <a href="../../Index.html">
        <img src="../../assets/img/Biology_header.png" alt="Biology" />
      </a>
    </div>

    <nav class="biology__nav center column">
      <p class="nav__section">РАЗДЕЛЫ</p>

      <div class="nav__line"></div>

      <img src="../../assets/img/navbar.png" alt="navbar" />

      <ul class="center row">
        <li class="nav__butt active">
          <a href="../theory/theory.html">
            <p>Теоретический</p>
          </a>
        </li>
        <li class="nav__butt">
          <a href="../test/test.html">
            <p>Контроль знаний</p>
          </a>
        </li>
        <li class="nav__butt">
          <a href="../practice/practice.html">
            <p>Практический</p>
          </a>
        </li>
        <li class="nav__butt">
          <a href="../other/other.html">
            <p>Вспомогательный</p>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="biology__content center column">
    <div>
      <div class="content__line"></div>
      <h1>ТЕОРЕТИЧЕСКИЙ МАТЕРИАЛ</h1>
      <div class="content__line"></div>
    </div>

    <article class="content__theme left column">
      <!-- ------------------------------------------------------------------------------------------------------ 1st nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/pot.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic1/topic1.html">1.Химические соединения в живых организмах. Неорганические вещества</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Количество воды неодинаково в разных тканях и органах. Так, у человека в сером веществе головного мозга
              ее содержание составляет 85 %, а в костной ткани — 22 %. Наибольшее содержание воды в организме
              наблюдается в эмбриональный период (95 %) и с возрастом постепенно уменьшается. Без употребления воды
              человек может прожить не более 5—7 дней.<a href="theorySection/topic1/topic1.html">Читать далее...</a></p>  <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic1/topic1.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /1st nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 2nd nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic2/topic2.html">2. Клетка. Клеточное строение</a>  <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 2-ой темы<a href="theorySection/topic2/topic2.html">Читать далее...</a></p>  <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic2/topic2.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /2nd nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 3rd nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic3/topic3.html">3. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 3-ей темы<a href="theorySection/topic3/topic3.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic3/topic3.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /3rd nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 4th nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic4/topic4.html">4. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 4-ой темы<a href="theorySection/topic4/topic4.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic4/topic4.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /4th nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 5th nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic5/topic5.html">5. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div> 
          </div>
          <div class="topic_description">
            <p>Описание 5-ой темы<a href="theorySection/topic5/topic5.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic5/topic5.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /5th nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 6th nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic6/topic6.html">6. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 6-ой темы<a href="theorySection/topic6/topic6.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic6/topic6.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /6th nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 7th nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic7/topic7.html">7. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 7-ой темы<a href="theorySection/topic7/topic7.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic7/topic7.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /7th nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 8th nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic8/topic8.html">8. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 8-ой темы<a href="theorySection/topic8/topic8.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div> 
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic8/topic8.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /8th nav card --------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------ 9th nav card --------------------------------------------- -->
      <div class="box-parent row center">
        <div class="box">
          <div class="topic_img">
            <img src="../../assets/img/microcope.png">
          </div>
          <div class="topic_name"><a href="theorySection/topic9/topic9.html">9. Название темы</a> <!-- -------------- НАЗВАНИЕ -->
            <div class="line"></div>
          </div>
          <div class="topic_description">
            <p>Описание 9-ой темы<a href="theorySection/topic9/topic9.html">Читать далее...</a></p> <!-- -------------- ОПИСАНИЕ -->
          </div>
          <div class="uldiv">
            <ul>
              <li><a class="theory_btn" href="" title="Презентация по этой теме">Презентация</a></li>
              <li><a class="test_btn" href="" title="Тест по этой теме">Тест</a></li>
              <li><a class="video_btn" href="theorySection/topic9/topic9.html#videoSection" title="Видеоролик по этой теме">Видео</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ /9th nav card --------------------------------------------- -->
    </article>
  </section>


  <footer>
    <div class="footer__line"></div>
    <div class="footer__authors center column">
      <p>Верстка и дизайн: Шило Данил, Кручок Глеб</p>
      <p>Наполнение контента: Цыбулёнок Илья, Заев Кирилл, Шиманская Дарья, Рыбаков Дмитрий, Кулик Полина</p>
    </div>
  </footer>
</body>