.leftimg {
    float: left;
    padding: 15px 30px 0 0;
    width: 220px;
    height: 220px;
}

.rightimg {
    float: right;
    padding: 15px 0 0 30px;
    transform: rotate(90deg);
    width: 220px;
    height: 220px;
}

.paragraph__set {
    padding: 10px 30px 10px 30px;
}

.v_va {
    width: 1100px;
    height: 700px;
    padding-top: 20px;
}
