.content__theory {
    background-color: #EEF6F6;
    background-image: url(../../assets/img/fon.png);
    box-shadow: inset 0px 0px 15px 10px #00000033;
    width: 100vw;
}

.theory__paragraph p,
.theory__title p {
    color: #545A51;
}

.theory__title {
    color: #545A51;
    text-align: left;
    margin: 0px 180px;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
}

.theory__paragraph {
    margin: 0px 300px;
    letter-spacing: -1px;
    line-height: 40px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 70px;
    word-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
}
.leftimg {
    float: left;
    padding: 15px 30px 0 0;
    width: 220px;
    height: 220px;
}

.rightimg {
    float: right;
    padding: 15px 0 0 30px;
    transform: rotate(90deg);
    width: 220px;
    height: 220px;
}

.paragraph__set {
    padding: 10px 30px 10px 30px;
}

.v_va {
    width: 1100px;
    height: 700px;
    padding-top: 20px;
}